anyio==4.13.0
easyocr==1.7.2
fastapi==0.135.2
gTTS==2.5.4
httpx==0.28.1
opencv_python==4.13.0.92
opencv_python_headless==4.13.0.92
pyttsx3==2.99
Requests==2.33.0
tqdm==4.67.3
ultralytics==8.4.31
uvicorn==0.42.0
